.list{
    background-image: url(../../assets/img/blog.jpg);
    background-size: cover;
    height: 90vh;
}
.list-btn {
    margin-top: 210px;
    padding: 10px 20px;
    align-items: center;
    color: #1e1e1e;
    font-size: 16px;
}
.span-h4 {
    padding-left: 10px;
    color: #fd7e14;
    font-size: 16px;
    font-weight: 500;
}
.list-h2 {
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
    width: 100%;
    margin-bottom: 0;
    color: aliceblue;
}